/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
  margin: 0px;
  text-align: center;
  background-image: url(bg.jpg);
}

button {
  height: 23px;
  width: 50px;
  border: #7b9ebd 1px solid;
  padding: 3px;
  margin-left: 10px;
}

#container {
  text-align: center;
  margin: auto;
  width: 1200px;
}

#header {
  border-radius: 7px;
  margin: 3px auto;
  background-color: #D5DBD3;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

#header a:link{color:#1B1B1B;text-decoration: none;}
#header a:hover {text-decoration: underline}

#logo{
  margin-left: 100px;
  float: left;
}

.menu {
  margin-left: 40px;
  float: left;
}

.user {
  margin-right:100px;
  float: right;
}

#message_box {
  margin: 3px auto;
  background-color: #D5DBD3;
}

#content {
  border-radius: 7px;
  font-size: 13px;
  background-color: #D5DBD3;
  height: 595px;
}

#footer {
  border-radius: 7px;
  margin: 3px auto;
  font-size:13px;
  background-color: #D5DBD3;
  line-height: 28px;
  vertical-align: middle;
}

#footer a:link {
  color: #949494;
}

.login1{
  margin-top: 100px;
  float: left;
  margin-left: 565px;
  font-size: 21px;
}

.login2{
  float: left;
  margin-left: 490px;
  margin-top: 30px;
  font-size: 14px;
}

.login3{
  float: left;
  margin-left: 490px;
  margin-top: 18px;
  font-size: 14px;
}

.login4{
  float: left;
  margin-left: 490px;
  margin-top: 18px;
  font-size: 14px;
}

.login5{
  float: left;
  margin-left: 560px;
  margin-top: 15px;
}

.content2{
  float: left;
  margin-left: 450px;
  margin-top: 60px;
  height: 350px;
  vertical-align:middle;
  font-size: 20px;
  line-height: 40px;
}

#message_box{
  border-radius: 7px;
  color: red;
}

